body{
    /*background-color:rgb(73, 227, 109);*/
    background: linear-gradient(green, yellow, red);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: "Trebuchet MS";
    margin: 30px 0px 0px;
}
#titlep{
    text-align: center;
    font-size: 29px;
    padding-right: 100px;
    font-family: caption;
}
#titletext{
    color: #d83826;
    font-size: 46px;
    font-weight: bolder;
    text-align: center;
    font-family: caption;
}
#bodyp{
    width: 783px;
    margin: 0px auto;
    line-height: 2;
    font-size: 22px;
    text-align: justify;
}

.container{
    border:solid black 1px;
    background-color: white;
}



